/*
   1. GENERAL
   2. FORM
   3. LIST

*/

/* GENERAL*/
body {
  margin: 0%;
  background-color: rgb(247, 220, 187, 0.75);
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.hero img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-top: 0;
}

/*FORM*/
form {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*LIST*/
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6rem;
}

.pokemon_List {
  list-style-type: none;
  margin-top: 0;
}

.list h1 {
  margin-left: 10px;
  font-family: "Pokemon Solid", sans-serif;
  font-weight: 100;
  color: rgb(12, 148, 202);
  margin: 0 0;
}

li {
  font-size: 20px;
  color: rgb(104, 213, 32);
  font-family: "Pokemon Solid", sans-serif;
  margin-top: 0;
}

.list__card div {
  border-radius: 50px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 0.5rem 1rem;
  width: 250px;
}

p {
  margin-top: -15px;
}

button {
  background-color: orange;
  border-radius: 20px;
}
