.Navbar {
  padding: 6px 24px;
  box-shadow: 5px 5px 3px rgb(166, 166, 166, 0.5);
}

.Navbar ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  text-transform: uppercase;
}

.Navbar a {
  text-decoration: none;
  color: #40bed4;
  font-weight: bold;
}
