body {
  margin: 0;
  background-image: url("https://media.istockphoto.com/id/1289683202/vector/vector-seamless-pattern-with-little-hearts-repeating-background-with-saint-valentine-day.jpg?s=612x612&w=0&k=20&c=p6lPSRuhN_TLl1uLag9eb_IhXasykyCOq7FpEa8JZ5I=");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 50px;
  font-size: 40px;
}

input {
  height: 30px;
  border-radius: 10px;
}

label {
  color: rgb(159, 26, 49);
  font-family: sans-serif;
  font-weight: bold;
}

button {
  padding: 30px;
  background-color: rgb(159, 26, 49);
  color: antiquewhite;
  border-radius: 10px;
  border: 0ch;
  font-size: 30px;
  font-weight: bold;
}
