.Friend {
  display: flex;
  gap: 20px;
}

.Friend img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.Friend__text {
  font-size: 10px;
  color: rgb(55, 171, 228);
}
