.AddNote {
  width: 100%;
  padding: 20px;
  margin-right: 5px;
  color: rgb(239, 60, 90);
  font-size: 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 360px;

    input {
      width: 300px;
      padding: 12px 6px;
      border-radius: 8px;
      border: 0;
      border: 1px solid lightgrey;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 676px) {
  .AddNote {
    width: 35%;
  }
}
